{% extends 'base.html' %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'webapp:order_create' %}">Add Article</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <section>
        <h1>Заказы:</h1>
    </section>
    <section>
        <h1>Archive</h1>
            <h2>{{ or.title }}</h2>
            <p>
                <a href="{% url 'webapp:article_view' article.pk %}">More...</a>
                {% if article.author == request.user or request.user.is_superuser %}
                    <a href="{% url 'webapp:article_update' article.pk %}">Edit</a>
                    <a href="{% url "webapp:article_delete" article.pk %}">Delete</a>
                {% endif %}
            </p>
            <hr/>
        {% endfor %}
    </section>
{% endblock %}